<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name='language' content='EN'>
        <title>{{ title }}</title>
        <title>{{ title }}</title>
    {% block common_head %}
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>

{% block body %}
{% endblock %}

</html>
