{% extends "std.html.jinja2" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/f/widget.css') }}" />
{% endblock %}
{% block page %}
    <div class="section container top-sec">

        <div id="widget_container" class="has-background-s0 box">
            <div class="columns is-0">
                <div class="w-doll column is-5">
                    <div>
                        <h1 class="title">About Me</h1>
                        <div class="doll-cont">
                            <figure>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="w-pages column is-1 has-background-s2">
                    <div class="fixed-grid has-1-cols">
                        <div class="grid">
                            {% for page in ab_widget.pages %}
                                <button class="cb cell button{{ ' active' if page.primary }}" onclick="updateWidget(this)">
                                    <span class="icon" aria-label="{{ page.name }}">
                                        <i class="{{ page.icon }}"></i>
                                    </span>
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="w-content scroller column is-6 has-background-s1">
                    <div class="w-cards scroll-cont">
                        {% for card in ab_widget.cards %}
                            <div class="w-card box">
                                <div class="w-card-icon">
                                    <figure class="image is-64x64 is-square is-skeleton">
                                        <img src="{{ card.icon }}" alt="icon"/>
                                    </figure>
                                </div>
                                <div>   
                                    <div>
                                        <p>
                                            <span class="title is-6">{{ card.title }}</span>
                                            <small class="is-italic">{{ card.subtitle }}</small>
                                            <small class="is-italic">{{ card.tag }}</small>
                                        </p>
                                    </div>
                                    <div class="w-card-desc">
                                        <p class="subtitle is-6">{{ card.details }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', path='/res/js/widget.js') }}"></script>
{% endblock %}
