{% extends "std.html.jinja2" %}

{% block meta_theme_color %}
    <meta name="theme-color" content="#f3f4f6" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1f2229" media="(prefers-color-scheme: dark)">
{% endblock %}

{% block og_type %}
    <meta property="og:type" content="profile"/>
    <meta property="og:profile:first_name" content="Sam">
    <meta property="og:profile:last_name" content="Laird">
    <meta property="og:profile:username" content="daggerwolf45">
    <meta property="og:profile:pronouns" content="He/They">
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/f/index.css') }}" />
{% endblock %}

{% block page %}
    <section id="landing-greeting" class="section top-sec has-background-s2">
        <div class="columns container">
            <div class="column is-4 is-offset-2">
                <div id="greeting-details" class="block mt-6">
                    <span id="hire-tag" class="tag is-rounded mb-1">
                        <span class="icon">
                          <i class="fas fa-circle"></i>
                        </span>
                        OPEN TO WORK
                    </span>
                    <div class="block is-flex is-flex-direction-column">
                        <p class="title is-1 mb-2">
                            <span>Hello!</span>
                            <span>I'm Sam Laird</span>
                        </p>
                        <p class="subtitle is-family-secondary mb-5 is-5 has-text-weight-light">Developer with over 7 years of experience creating solutions businesses and their users love.</p>
                        <div class="">
                            <a class="button is-link is-medium" href="/portfolio">View Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6  is-flex is-justify-content-center is-align-items-center">
                <figure id="headshot" class="image">
                    <img src="{{ url_for('static', path='/res/img/man.webp') }}" alt="portrait photo">
                </figure>
            </div>
        </div>
    </section>

    <section id="about" class="section">
        <div class="container">
            <div class="block">
                <h2 class="title txt-flip-title">I am
                    <span
                          class="txt-flip"
                          data-period="1100"
                          data-content='{{ page.ticker }}'></span>
                </h2>
            </div>
            <div class="block skill-block">
                <h2 class="title">How can I help you?</h2>
                <div class="columns is-8">
                    <div class="column is-one-third">
                        <div class="box">
                            <p class="title is-4">Backend Development</p>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="box">
                            <p class="title is-4">Systems Administration</p>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="box">
                            <p class="title is-4">Embedded Systems</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Augue aliqua aliqua ex, augue blandit autem ex id aliquyam, amet euismod erat cum feugait praesent commodo volutpat at nonumy iusto cillum qui diam te excepteur excepteur eros mazim enim. Doming sanctus clita.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns is-8 is-centered">
                    <div class="column is-one-third">
                        <div class="box">
                            <p class="title is-4">User Experience</p>

                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="box">
                            <p class="title is-4">You tell me!</p>
                            <p class="">
                                <span>I love a challenge and learning new things! If you like what's here but I havn't worked on what you're looking for, reach out. I'm interested in pretty much anything '<span class="is-italic">tech</span>' related!</span>
                            </p>
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button has-background-link-60 is-rounded" href="/contact">
                                        <span class="is-family-secondary has-text-white has-text-weight-bold">Get in Touch</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="testimonials" class="section has-background-s1">
        <div class="columns container">
            <div class="column is-4 is-offset-2 is-flex is-flex-direction-column">
                    <div class="testimonial box columns is-2">
                        <div class="column is-narrow">
                            <figure class="image is-48x48">
                                <img class="is-rounded" src="{{ url_for('static', path='/res/img/face.jpeg') }}" alt="face">
                            </figure>
                        </div>
                        <div class="column is-10 is-flex is-flex-direction-column">
                            <p class="is-size-4 has-text-weight-bold is-italic is-family-secondary">
                                <span>
                                    "
                                </span>
                            </p>
                            <p class="mb-3 pl-3 testimonial-text is-size-6 is-italic">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat aliquyam. Zzril nonumy sint suscipit. Sint molestie culpa.
                                </span>
                            </p>
                            <div class="pl-3 is-flex is-flex-direction-column is-justify-content-space-evenly">
                                <p class="title is-5 has-text-weight-bold">
                                    <span>James Dean</span>
                                </p>
                                <p class="subtitle is-6 is-family-secondary">
                                    <span>Actor</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-third">
                        <div class="testimonial">

                        </div>
                    </div>
            </div>

            <div class="column box is-3 is-offset-2">
                <div class="testimonial">

                </div>
            </div>


        </div>
    </section>

    <section id="projects" class="section">

    </section>

    <section id="contact" class="section has-background-s1">

    </section>

{% endblock %}
