{% extends "std.html.jinja2" %}
{% block head %}
{#    <script type="importmap">{{ page.importmap | tojson(indent=0) }}</script>#}

    <script async blocking="render" type="module" src="{{ url_for('static', path="/res/js/mdedit.js") }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/f/mdedit.css') }}" />
{% endblock %}
{% block page %}
    <div class="section container top-sec">
        <div class="header block">
            <p class="title">MDEdit</p>
            <p class="subtitle">Fancy-pants blog writer</p>
        </div>
        <div class="block">
            <div class="box" id="editor_frame">
                <div id="editor">

                    <div class="toolbar">
                        <div class="controls">
                            <div class="control-group">
                                <button id="btn_bold" class="button is-1by1">
                                    <i class="icon fa fa-bold"></i>
                                </button>
                                <button id="btn_italic" class="button is-1by1">
                                    <i class="icon fa fa-italic"></i>
                                </button>
                                <button id="btn_underline" class="button is-1by1">
                                    <i class="icon fa fa-underline"></i>
                                </button>
                            </div>
                            <div class="control-group">
                                <div class="dropdown is-hoverable is-rounded">
                                    <div class="dropdown-trigger">
                                        <button class="button">
                                            <span>Styles</span>
                                            <span class="icon is-small">
                                                <i class="fa fa-paint-brush"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="style-menu" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <p>
                                                    These are just fancy HTML tags.
                                                </p>
                                            </div>
                                            <hr class="dropdown-divider" />
                                            <a class="dropdown-item" id="style_sel_code">
                                                <code>Code</code>
                                            </a>
                                            <a class="dropdown-item" id="style_sel_gay">
                                                <gay>Queer</gay>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <button id="btn_quote" class="button is-1by1">
                                    <i class="icon fa fa-quote-left"></i>
                                </button>
                            </div>
                        </div>

                        <div class="controls">
                            <div class="control-group">
                                <button id="btn_undo" class="button is-1by1">
                                    <i class="icon fa fa-undo"></i>
                                </button>
                                <div class="control">
                                    <label for="histo_progress">History</label>
                                    <progress class="progress" value="0" max="50" id="histo_progress"></progress>
                                </div>
                                <button id="btn_redo" class="button is-1by1" disabled>
                                    <i class="icon fa fa-redo"></i>
                                </button>
                            </div>
                            <div class="control-group">
                                <button id="btn_save" class="button is-1by1">
                                    <i class="icon fa fa-floppy-disk"></i>
                                </button>
                                <button id="btn_download" class="button is-1by1">
                                    <i class="icon fa fa-download"></i>
                                </button>
                                <button id="btn_clear" class="button is-1by1">
                                    <i class="icon fa fa-close"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <textarea id="editor_textarea" class="textarea"></textarea>
                </div>
            </div>
        </div>

    </div>
    <div class="section container" id="preview_blk">
        <div class="controls">
            <div class="field is-horizontal is-grouped">
                <div class="control">
                    <p class="title is-4">Preview</p>
                </div>
                <div class="control">
                    <button class="button is-info" id="btn_reload_preview">Reload</button>
                </div>
            </div>
        </div>
        <div id="frame_box">
            <iframe
                  id="preview_frame"
                  width=100%
                  src=""
            ></iframe>
        </div>


    </div>


{% endblock %}
{% block scripts %}
{#    <script src="{{ url_for('static', path='/res/js/mdedit-text.js') }}"></script>#}
{% endblock %}
