{% extends "std.html.jinja2" %}

{% macro render_detail(detail) %}
    <li>{{ detail.text }}
        {% if detail.sub_detail is defined and detail.sub_detail is not none %}
            <ul>
                {% for sd in detail.sub_detail %}
                    {{ render_detail(sd) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/f/portfolio.css') }}" />
{% endblock %}
{% block page %}
    <section class="section container top-sec">

{#
        Work Experience
#}
        <div class="work-block">
            <div class="columns is-centered is-6 pt-5">
                <div class="column is-4 has-text-right">
                    <p class="title is-3">Professional Work</p>
                </div>
                <div class="column is-6"></div>
            </div>


            {% for exp in experience.work %}
                <div class="block exp-block">
                    <div class="role-block columns is-centered is-6">
                        <div class="column is-4 has-text-right exp-header">
                            <a href="{{ exp.company.url }}">
                                <p class="title is-4 has-text-weight-semibold">{{ exp.company.name }}</p>
                            </a>
                            {% if exp.has_roles %}
                                <span class="tag is-rounded">
                                    {{ exp.start_date }} - {{ exp.end_date }}
                                </span>
                            {% else %}
                                <p class="subtitle is-6 mb-2">
                                    <span class="is-italic">{{ exp.roles[0].title }}</span>
                                </p>
                            {% endif %}
                        </div>

                        <div class="column is-6 exp-line-block">
                            <div class="exp-trail">
                                <span class="exp-dot"></span>
                                <div class="exp-line"></div>
                            </div>
                            <div class="exp-details content">
                                {% if exp.has_roles %}
                                    <p class="subtitle is-6 mb-1 pt-1">
                                        <span class="has-text-weight-semibold">{{ exp.roles[0].title }}</span>
                                    </p>
                                {% else %}
                                    <span class="tag is-rounded">
                                        {{ exp.start_date }} - {{ exp.end_date }}
                                    </span>
                                {% endif %}

                                <ul class="ml-4 mt-1">
                                    {% for detail in exp.roles[0].details %}
                                        {{ render_detail(detail) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% if exp.has_roles %}
                    {% for role in exp.roles[1:] %}

                        <div class="role-block columns is-centered is-6">
                            <div class="column is-4 has-text-right exp-header">
                                <span class="tag is-rounded">
                                    {{ role.start_date }} - {{ role.end_date }}
                                </span>
                            </div>

                            <div class="column is-6 exp-line-block">
                                <div class="exp-trail">
                                    <span class="exp-dot"></span>
                                    <div class="exp-line"></div>
                                </div>
                                <div class="exp-details content">
                                    <p class="subtitle is-6 mb-1 pt-1">
                                        <span class="has-text-weight-semibold">{{ role.title }}</span>
                                    </p>

                                    <ul class="ml-4 mt-1">
                                        {% for detail in role.details %}
                                            {{ render_detail(detail) }}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>


{#
        Programming Languages
#}
        <div class="lang-block">
            <div class="columns is-centered is-6 pt-5">
                <div class="column is-4 has-text-right">
                    <p class="title is-3">Languages</p>
                </div>
                <div class="column is-6"></div>
            </div>

            {% for level in experience.lang %}
                <div class="block columns is-centered is-6 mb-3">
                    <div class="column is-4 has-text-right">
                        <p class="title is-4 has-text-weight-semibold">{{ level.name }}</p>
                    </div>

                    <div class="column is-6">
                        <div class="columns has-text-centered is-mobile is-multiline-tablet lang-container">
                        {% for lang in level.langs %}
                            <div class="column is-narrow">
                                <div class="box">
                                    <figure class="image is-square is-64x64">
                                        <img alt="{{ lang.name }}" src="{{ lang.icon_url }}" />
                                    </figure>
                                    <p class="subtitle is-6">{{ lang.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>


{#
        Skills
#}
        <div class="taf-block">
            <div class="columns is-centered is-6 pt-5">
                <div class="column is-4 has-text-right">
                    <p class="title is-3">Tools & Frameworks</p>
                </div>
                <div class="column is-6"></div>
            </div>

            {% for cat in experience.skills %}
                <div class="columns is-centered is-6">
                    <div class="column is-4 has-text-right">
                        <p class="title is-4 has-text-weight-semibold">{{ cat.name }}</p>
                    </div>
                    <div class="column is-6">
                        <div class="block">
                            {% if cat.subtypes is not none %}
                                {% for sub in cat.subtypes %}
                                    {% if sub.name is not none %}
                                        <p class="subtitle is-6 has-font-weight-medium is-italic mb-2">{{ sub.name }}</p>
                                    {% endif %}

                                    <div class="tags are-medium">
                                        {% for item in sub.items %}
                                            {% if item.link is not none %}
                                                <a class="tag" href="{{ item.link }}">{{ item.name }}</a>
                                            {% else %}
                                                <span class="tag">{{ item.name }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
