{% extends "std.html.jinja2" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/f/portfolio.css') }}" />
{% endblock %}
{% block page %}
    <div class="container top-sec">
        <p class="title is-2">Background</p>
        <div class="columns is-3">
            <div class="column is-9">
                <section class="block">
                    <div class="columns is-3">
                        <div class="column is-8">
                            <div class="box">
                                <p class="title is-4">Professional Work</p>
                                <div id="exp-cont" class="content">

                                    <!--Genuone-->
                                    <div class="exp-block">
                                        <div class="exp-trail">
                                            <span class="exp-dot has-background-grey"></span>
                                            <div class="exp-line has-background-grey-light"></div>
                                        </div>
                                        <div class="exp-details">
                                            <div class="is-flex flex-direction-row">
                                                <a href="https://genuone.co">
                                                    <p class="title is-5">Genuone Software</p>
                                                </a>
                                                <span class="tag is-rounded ml-2">
                                                    Oct/2023
                                                </span>
                                            </div>
                                            <p class="subtitle is-6">
                                                <span class="is-italic">Founder</span>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Nextera -->
                                    <div class="exp-block">
                                        <div class="exp-trail">
                                            <span class="exp-dot has-background-grey"></span>
                                            <div class="exp-line has-background-grey-light"></div>
                                        </div>
                                        <div class="exp-details">
                                            <div class="is-flex flex-direction-row">
                                                <a href="https://nexterarobotics.com/didge-ai">
                                                    <p class="title is-5">
                                                        Nextera Robotics
                                                    </p>
                                                </a>
                                                <span class="tag is-rounded ml-2">
                                                    Jul/2022 - Oct/2023
                                                </span>
                                            </div>

                                            <p class="subtitle is-6 mb-2">
                                                <span class="is-italic">Backend & Devops Developer</span>
                                                <span> - </span>
                                                <span class="is-italic">Electronics Engineer</span>
                                            </p>
                                            <ul class="mt-0">
                                                <li>Backend of Fleet Management Portal for Robot Fleet</li>
                                                <li>Automated Deployment Manager for Robots and Mesh Nodes</li>
                                                <li>
                                                    Designed and oversaw development of the following for Robot
                                                    <ul>
                                                        <li>Power Distribution and Charging Controller Board</li>
                                                        <li>Managed USB-3 IO & Networking Board</li>
                                                    </ul>
                                                </li>
                                                <li>Various signal/rf integrity and fault recovery systems for 900mhz mesh network</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Annaboto -->
                                    <div class="exp-block">
                                        <div class="exp-trail">
                                            <span class="exp-dot has-background-grey"></span>
                                            <div class="exp-line has-background-grey-light"></div>
                                        </div>
                                        <div class="exp-details">
                                            <div class="is-flex flex-direction-row">
                                                <a href="https://boundlessrobotics.com/">
                                                    <p class="title is-5">Boundless Robotics</p>
                                                </a>
                                                <span class="tag is-rounded ml-2">
                                                    Aug/2023 - Nov/2023
                                                </span>
                                            </div>
                                            <p class="subtitle is-6 mb-2">
                                                <span class="is-italic">Consulting Test Engineer</span>
                                            </p>
                                            <ul class="mt-0">
                                                <li>
                                                    Built dynamic test platform for full and partial hardware verification
                                                    <ul>
                                                        <li>Web Interface for controls and debugging</li>
                                                        <li>Component level pre-assembly testing support</li>
                                                        <li>Support for easy expandability and test groups</li>
                                                    </ul>
                                                </li>
                                                <li>Assisted in FCC certification of wireless radio</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- New England Chapel -->
                                    <div class="exp-block">
                                        <div class="exp-trail">
                                            <span class="exp-dot has-background-grey"></span>
                                            <div class="exp-line has-background-grey-light"></div>
                                        </div>
                                        <div class="exp-details">
                                            <p class="title is-5">NEC</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-4">
                            <div class="box">
                                <p class="title is-4">Volunteering</p>
                                <div>

                                </div>
                            </div>
                            <div class="box">
                                <p class="title is-4">Education</p>
                                <div>
                                    <p class="title is-5">Worcester Polytechnic Institute</p>
                                    <p class="subtitle is-6">Computer Science</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="box">
                    <p class="title is-4">Projects</p>
                </div>
            </div>


            <div class="column is-3">
                <div class="box">
                    <p class="title is-4">Languages</p>
                    <div class="content block">
                        <p class="subtitle box is-family-secondary has-text-white is-6 has-text-weight-bold has-background-success">
                            <span>Strong Experience</span>
                        </p>
                        <ul class="is-italic">
                            <li>Python</li>
                            <li>Java</li>
                            <li>Bash</li>
                        </ul>
                    </div>
                    <div class="content block">
                        <p class="subtitle box is-family-secondary has-text-white is-6 has-text-weight-bold has-background-warning">Moderate Experience</p>
                        <ul class="is-italic">
                            <li>Typescript</li>
                            <li>Javascript</li>
                            <li>C++</li>
                            <li>C</li>
                        </ul>
                    </div>
                    <div class="content block">
                        <p class="subtitle box is-family-secondary has-text-white is-6 has-text-weight-bold has-background-info">Light Experience</p>
                        <ul class="is-italic">
                            <li>Zig</li>
                            <li>Flutter</li>
                            <li>Matlab</li>
                            <li>Verilog / VHDL</li>
                            <li>Swift</li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <p class="title is-4_5">Toolchains & Frameworks</p>
                    <div class="content columns is-gapless use-close-lists px-4">
                        <div class="column is-half">
                            <div class="block">
                                <p class="title is-6">Runtimes</p>
                                <ul>
                                    <li>PyPy</li>
                                    <li>Node.js</li>
                                    <li>Bun</li>
                                </ul>
                            </div>
                            <div class="block">
                                <p class="title is-6">Web Servers</p>
                                <ul>
                                    <li>Gunicorn</li>
                                    <li>Socketify.py</li>
                                    <li>Nginx</li>
                                    <li>Apache</li>
                                </ul>
                            </div>
                            <div class="block">
                                <p class="title is-6">Devtools</p>
                                <ul>
                                    <li>Pydantic</li>
                                    <li>Jinja2</li>
                                    <li>Beartype</li>
                                    <li>MyPy</li>
                                </ul>
                            </div>
                            <div class="block">
                                <p class="title is-6">Containers & VMs</p>
                                <ul>
                                    <li>Docker</li>
                                    <li>Qemu</li>
                                    <li>Proxmox</li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-half has-text-right">
                            <div class="block">
                                <p class="title is-6">API Servers</p>
                                <ul>
                                    <li>Flask</li>
                                    <li>Quart</li>
                                    <li>FastAPI</li>
                                    <li>Django</li>
                                    <li>React</li>
                                </ul>
                            </div>
                            <div class="block">
                                <p class="title is-6">GUIs</p>
                                <ul>
                                    <li>JavaFX</li>
                                    <li>Swing</li>
                                    <li>Bulma</li>
                                    <li>A lot of raw HTML/CSS</li>
                                </ul>
                            </div>
                            <div class="block">
                                <p class="title is-6">PCB Design</p>
                                <ul>
                                    <li>Altium</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <p class="title is-4">Databases</p>
                    <div class="content columns is-1 block">
                        <div class="column is-offset-1 is-4">
                            <p class="subtitle is-5 has-text-weight-bold is-italic">SQL</p>
                        </div>
                        <div class="column">
                            <ul>
                                <li>PostgreSQL</li>
                                <li>MySQL</li>
                                <li>SQLite</li>
                                <li>Apache Derby</li>
                            </ul>
                        </div>
                    </div>
                    <div class="content columns block is-1">
                        <div class="column is-offset-1 is-4">
                            <p class="subtitle is-5 has-text-weight-bold is-italic">DBMS</p>
                        </div>
                        <div class="column">
                            <ul>
                                <li>JDBM</li>
                                <li>SQLAlchemy</li>
                                <li>SQLModel</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
