{% extends "base.html.jinja2" %}
{% block common_head %}
    <!-- PreConnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous">

    <link rel="prefetch" href="/portfolio">
    <link rel="prefetch" href="{{ url_for('static', path='/res/css/f/portfolio.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..800&display=swap" crossorigin="anonymous" referrerpolicy="no-referrer" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma-helpers/0.4.3/css/bulma-helpers.min.css" integrity="sha512-U6ELnUi7oqVEjkLmFw5r5UR5LEtvpImS/jUykBKneVhD0lxZxfJZ3k3pe003ktrtNZYungd9u3Urp2X09wKwXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/bulma_o.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', path='/res/css/main.css') }}" />
{% endblock %}

{% block body %}
    <body class="has-navbar-fixed-top">
        <div id="nav-mask" class=""></div>
        <nav class="navbar box is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-4 is-family-primary has-text-weight-bold" href="/">
                    <span>Sam</span>
                    <span>Laird</span>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="nav-pages">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>


            <div id="nav-pages" class="navbar-menu">
                <div class="navbar-start">


                </div>

                <div class="navbar-end">
                    <a class="navbar-item is-family-secondary has-text-weight-bold" href="/portfolio">
                        Portfolio
                    </a>
{#                    <a class="navbar-item is-family-secondary has-text-weight-bold" href="/works">#}
{#                        Personal#}
{#                    </a>#}

{#                    <a class="navbar-item is-family-secondary has-text-weight-bold">#}
{#                        Resources#}
{#                    </a>#}

                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-warning" href="/contact">
                                    <span class="has-text-weight-bold">Contact</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block page %}
        {% endblock %}

        <script src="{{ url_for('static', path='/res/js/min.js') }}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
{% endblock %}
