:root {
    /* Font */
    --bulma-family-primary: Outfit,Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue,Helvetica, Arial, sans-serif;
    --bulma-family-secondary: Nunito,Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;

}

.is-family-primary {
    font-family: var(--bulma-family-primary), sans-serif !important;
}

.is-family-secondary {
    font-family: var(--bulma-family-secondary), sans-serif !important;
}

.title.is-4_5 {
    font-size: 1.45rem;
}

@media (prefers-color-scheme: light) {
    :root {
        /* CSS Variables */
    }
    .has-background-grey-lighter {
        background-color: rgb(239, 241, 245) !important;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        /* CSS Variables */
    }
}
