

#hire-tag {
    border-radius: var(--bulma-radius-rounded);
    background-color: hsl(96deg, 44%, 72%);
    font-family: var(--bulma-family-secondary) sans-serif;
    font-weight: bold;
    font-size: 0.71rem;
    color: #FFF;
}

#hire-tag .icon {
    font-size: 0.66667em;
}


#headshot {
    height: 100%;
}

#headshot img {
    height: 100%;
    max-width: fit-content;
}


.txt-flip > .wrap {
    border-right: 0.08em solid var(--bulma-grey)
}

.skill-block .title:first-child {
    text-align: center;
}

.skill-block .box .title {
    margin-bottom: 0.5rem;
}

.skill-block .box p:not(.title) {
    margin: 0.5rem 1.2rem;
    text-align: center;
    font-size: 1rem;
}

.skill-block .box .control:has(.button){
    margin: 0.25rem auto 0;
}

.skill-block .control .button {
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
}


.testimonial .media .media-content {
    height: 100%
}

.testimonial .media .media-content div{
    height: 100%
}

.testimonial-text {
    margin-top: -1rem !important;
}
