.exp-line-block {
    display: flex !important;
    flex-direction: row;
}
/* Modified in role-block:last-child*/


.rs_container {
    justify-self: right;
    position: relative;
    right: 0;
    justify-content: right;
    width: fit-content;
    display: none; !important;
}
.rs_container .dummy_title {
    position: relative;
    z-index: -1;
    color: transparent !important;
    height: 0;
}
.rs_class_box {
    width: fit-content;
}


.exp-trail {
    display: block;
    box-sizing: content-box;
    width: fit-content;
}
.exp-line {
    width: 1rem;
    margin: 0.5rem 0.5rem 0;
    /*margin: 0.5rem 0.75rem 0 0.25rem;*/
    height: 100%;
}

.exp-dot {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0.125rem 0.125rem 0.25rem;

    background-color: var(--bulma-grey);
}
.following-block .exp-dot { /*Mini-dot*/
    width: 0.25rem;
    height: 0.25rem;
    margin: 0.375rem;

    box-shadow: 0 0 0.45rem 1px var(--bulma-primary);
}

.exp-stroke {
    display: block;
    width: 0.25rem;
    height: 100%;
    margin: 0 auto;
    border-radius: 0.25rem;

    background-color: var(--bulma-grey-light);
}
.role-block:not(:last-child).following-block .exp-stroke {
    height: calc(100% + 0.5rem);
}
.exp-block .role-block:last-child .exp-stroke { /* Last section of line */
    background: linear-gradient(var(--bulma-grey-light) 70%, var(--bulma-primary), 90%, transparent, 100%, transparent);
}


.exp-header .tag {
    margin-top: 0.22rem;
}
.role-block {
    margin-bottom: 0 !important;
}




.role-disc {
    margin: 0.3rem 0.25rem 0.2rem;
    margin-bottom: 0.2rem !important;
    font-size: 0.9rem;
}

.role-disc + hr {
    margin: 0;
}


/* Languages */
.lang-container {
    column-gap: 0.5rem;
    row-gap: 1rem;
    --bulma-grid-column-min: 7.5rem;
}

.lang-container .cell {
    width: max-content;
    height: min-content;
    text-align: center;
}

.lang-container .box {
    padding: 1rem;
}

.lang-container .subtitle {
    margin-top: 0.5rem;
}

.lang-container .image {
    margin: 0 auto;
}



/* Skills */
.taf-block .columns {
    margin-bottom: 0.9rem;
}

.taf-block .columns:first-child {
    margin-bottom: 0;
}



/*Mobile*/
@media screen and (max-width: 768px) {
    /* Disable right headers */
    .has-text-right {
        text-align: left !important;
    }

    /* Disable title spacer when in single column view */
    .top-sec > div > .columns:first-child .is-6{
        display: none;
    }

    .work-block {
        margin-top: -1.5rem;
    }
    .heading {
        padding-top: 0 !important;
        margin-bottom: 0.5rem !important;
    }


    .role-block.following-block {
        margin-top: -1rem;
    }

    .exp-block {    /* Each 'job' */
        width: 95%;
        margin: 0 auto;
    }

    /* Job header */
    .exp-header {
        padding: 0;
        display: inline-flex;
        margin-left: 3.5rem;
    }
    .following-block .exp-header {
        display: none;
    }

    .exp-header .tag { /* Date tag */
        margin-left: 0.5rem;
    }
    .exp-header .title {
        margin-right: 0.5rem;
    }
    .exp-header .subtitle.mb-2 {
        margin: auto !important;
    }

    .exp-trail {
        margin-top: -1.5rem;
        padding-bottom: 0.75rem;
    }

    .following-block .exp-trail {
        margin-top: 0.25rem;
    }

    .exp-line {
        margin-top: 0;
    }


    /* experience header AND */
    .exp-line-block {
        padding-top: 0;
    }
    /*.exp-line-block:has(.exp-details .subtitle) .exp-trail{*/
    /*    margin-top: -1.5rem;*/
    /*}*/
    /*.exp-header:not(:has(.subtitle)) .title {*/
    /*   margin-bottom: 0.25em;*/
    /*}*/





    .taf-block .column.is-4{
        padding-bottom: 0.5em;
    }

    .taf-block .column.is-6{
        padding-top: 0;
        padding-bottom: 0.25em;
    }

    .taf-block .column.is-6 .mt-2{
        margin-top: 0 !important;
    }

    .taf-block .column.is-6 .tags{
        margin-bottom: 1rem;
    }

    .taf-block .column.is-6 .subtitle{
        margin-left: 0.1em;
    }
}
