
.exp-line-block {
    display: flex !important;
    flex-direction: row;
    margin-bottom: var(--bulma-block-spacing)
}

.exp-trail {
    display: block;
    width: 1rem;
    margin-right: 1rem;
}

.exp-dot {
    position: relative;
    top: 0.5em;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0 auto;


    background-color: var(--bulma-grey);
}

.mini-dot {
    top: 0.5em;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;

    box-shadow: 0 0 0.5rem 1px var(--bulma-primary);
}


.exp-line {
    display: block;
    width: 0.25rem;
    height: 100%;
    margin: calc(0.3rem + 0.5em) auto 0.3rem;
    border-radius: 0.25rem;

    background-color: var(--bulma-grey-light);
}

.exp-line-block:last-child .exp-line {
    height: 95%;
    background: linear-gradient(var(--bulma-grey-light) 70%, var(--bulma-primary), 95%, transparent);
}




.taf-block .columns {
    margin-bottom: 0.9rem;
}

.taf-block .columns:first-child {
    margin-bottom: 0;
}
