/* Interactive About-Me Widget */
#widget_container {
    width: 64em;
    height: 36em;
    padding: 0;

    transition-property: filter, translate, box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

#widget_container .columns {
    height: 100%;
}

#widget_container .column {
}


/* Paper Doll */
.w-doll > div {
    padding: 1.5rem;
}


/* Pages */
.w-pages {
    position: relative;
}

.w-pages .grid {
    width: fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cb {
    width: 3rem;
    height: 3rem;
    border-radius: var(--bulma-control-radius);
    border: 3px solid;
    touch-action: manipulation;

    box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0, 4px 4px 0 0, 0.125rem 0.125rem 0 0;
}

.cb:not(:last-child){
    margin-bottom: 0.5rem;
}

.cb.active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0 0 0 0;
    filter: grayscale(50%);
    transition-duration: 0.01s;

}

.w-pages i {
    font-size: 2rem;
    margin: 0 auto;
}

/* Pages - Color */
.cb:nth-child(1){
    background-color: var(--bulma-primary)
}

.cb:nth-child(2){
    background-color: var(--bulma-info)
}

.cb:nth-child(3){
    background-color: var(--bulma-warning)
}

.cb:nth-child(4){
     background-color: var(--bulma-success)
 }

.cb:nth-child(5){
    background-color: var(--bulma-danger)
}

/* Content */
.scroller {
    --scrollbar-color-thumb: var(--bulma-scheme-main);
    --scrollbar-color-thumb-hover: red;

    @media (prefers-color-scheme: light) {
        --scrollbar-color-track: var(--bulma-white-ter);
    }


    @media (prefers-color-scheme: dark) {
        --scrollbar-color-track: var(--bulma-black-ter);
    }

    --scrollbar-width: auto; /* thin */
    --scrollbar-width-legacy: 0.666rem;

    container-type: inline-size;

    &:has(.scroll-cont) {
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    .scroll-cont {
        *:first-child {
            margin-top: 0;
        }
        *:last-child {
            margin-bottom: 0;
        }
    }
}

/* Technically 'legacy' but far more featured so it is the default */
@supports selector(::-webkit-scrollbar) {
    .scroller::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
        border-radius: calc(var(--scrollbar-width-legacy) / 1.5);
    }
    .scroller::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-color-thumb-hover);
    }

    .scroller::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track);
    }
    .scroller::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
}

/* Modern scrollbar theme controls */
@supports (not selector(::-webkit-scrollbar)) and (scrollbar-width: auto) {
    .scroller {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }

    .scroller {
        scrollbar-color: var(--scrollbar-color-thumb-hover) var(--scrollbar-color-track);
    }
}





.w-cards {
    padding: 1.25rem;
}

.w-card {
    display: flex;
    flex-direction: row;
    max-height: 10rem;
}

.w-card-icon {
    margin-right: 1rem;
}

.w-card-desc {
    height: 90%;
    overflow: clip;
    text-overflow: ellipsis;
    position: relative;
    /*background: linear-gradient(transparent 50, var(--bulma-box-background-color));*/
}

.w-card-desc:before {
    content:'';
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: linear-gradient(transparent 75%, var(--bulma-box-background-color));

}
